<settings>
	<category label="General">
		<setting type="lsep" label="Resolver" />
		<setting label="Settings" type="action" option="close" action="RunPlugin(plugin://plugin.video.TAD/?action=resolveurlSettings)" />
		<setting type="lsep" label="Cache" />
		<setting label="Clear Cache" type="action" action="RunPlugin(plugin://plugin.video.TAD/?action=clearCache)" />
		<setting type="lsep" label="Downloads" />
		<setting id="downloadPath" type="folder" label="30720" default="" />
	</category>
</settings>

